
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Yeni kategori ekleme sayfası</h2>

<form class="form-group" method="post">
    <input type="text" placeholder="Kategori Adı giriniz" name="CategoryName" class="form-control" />
    <br />
    <input type="text" placeholder="Açıklama giriniz" name="CategoryDescription" class="form-control" />
    <br />
    <button class="btn btn-info">Ekle</button>

</form>
